HIS_EnergyConsumption/HIS_EnergyConsumption/bld/
HIS_EnergyConsumption/HIS_EnergyConsumption/bin/iOS/Release/HIS_EnergyConsumption.plist
HIS_EnergyConsumption/HIS_EnergyConsumption/bin/iOS/Release/HIS_EnergyConsumption.ipa
