.left {
text-align: left;
}
.tab {
line-height: 1;
}
.tab-icon {
font-size: 24px;
padding: 0;
margin: 0;
vertical-align: top;
line-height: 28px;
}
.tab-label {
line-height: 11px;
vertical-align: top;
font-size: 11px;
}
.profile-wrapper {
padding: 16px 10px 0 10px;
}
.profile-image {
width: 50px;
height: 50px;
border-radius: 100%;
-webkit-border-radius: 100%;
background-color: #ccc;
}
.profile-name {
font-size: 18px;
padding: 4px 0 2px 0;
}
.profile-email {
font-size: 15px;
opacity: 0.4;
}
.switch--list-item {
margin-right: 0px;
}
.settings-header {
font-weight: 500;
font-size: 14px;
opacity: 0.4;
padding: 10px 0 0px 10px;
margin-bottom: -4px;
}
.settings-list {
margin-top: 10px;
}
.item {
padding: 10px;
line-height: 1;
}
.item-thum {
background-color: #ccc;
width: 50px;
height: 50px;
border-radius: 100%;
-webkit-border-radius: 100%;
}
.item-title {
font-size: 15px;
font-weight: 500;
}
.item-desc {
font-size: 14px;
color: #666;
line-height: 1.3;
margin: 4px 0 0 0;
padding: 0 30px 0 0;
}
.item-label {
font-size: 12px;
color: #999;
float: right;
}
.center {
text-align: center;
}
.liquidFillGaugeText 
{ 
font-family: Helvetica; 
font-weight: bold; 
}
#pie-body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
width: 960px;
height: 500px;
position: relative;
margin: 0 auto;
}
#pie-body svg {
	width: 100%;
	height: 100%;
}
path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
#bar-body {
  margin: auto;
  padding-top: 40px;
  position: relative;
  width: 960px;
}
.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }