<ons-page>
    <ons-row class="profile-wrapper">
        <ons-col width="60px" class="profile-image-wrapper">
            <div class="profile-image"></div>
        </ons-col>
        <ons-col>
            <div class="profile-name">Nr. {{currentItem.id}}</div>
            <div class="profile-email">{{currentItem.device.name}} / {{currentItem.category.name}}</div>
        </ons-col>
    </ons-row>
   
    <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron">
            Category: <select ng-model="currentItem.category" ng-options="cat1 as cat1.name for cat1 in devices" ng-change="onCategorySelect()"></select>
        </ons-list-item>

        <ons-list-item modifier="chevron">
            Device: <select ng-model="currentItem.device" ng-options="dev1 as dev1.name for dev1 in currentItem.category.devices"></select>
        </ons-list-item>

        <ons-list-item modifier="chevron">
            Age: {{currentItem.age_str}} <input type="range" class="range" ng-model="currentItem.age_num" min=-1 max=1 ng-change="currentItem.updateAgeStr()">
        </ons-list-item>
        
        <br>

        <ons-list-item modifier="chevron">
            Wattage: {{currentItem.getWattage}}
        </ons-list-item>

        <ons-list-item modifier="chevron">
            Hours: {{currentItem.hours}} <input type="range" class="range" ng-model="currentItem.hours" min=1 max=24>
             - W/H per day:{{currentItem.getConsumption}}
        </ons-list-item>

    </ons-list>
    <br>
   <!-- <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="tappable" ng-click="removeItemClick()" class="center">
            <ons-icon icon="fa-times"></ons-icon>
            Swipe Up to Save / Swipe Down to Delete
        </ons-list-item>
    </ons-list> -->
    <br>
</ons-page>